

#feed{
    width: 100%;
    min-height: 90vw;
    display: flex;
}

#contend{
    width: 80%;
    min-height: 80vw;
    padding-top: 10vw;
}

#sideBar{
    width: 20%;
    min-height: 100vw;
    background-color: var(--var-azul)
}

#profile{
    width: 20vw;
    height: 20vw;
    margin: 2vw auto 5vw auto;
    text-align: center;
}

#profile a{
    font-size: 2.5vw;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

#pfp{
    width: 17vw;
    height: 17vw;
    border-radius: 100%;
    object-fit: cover;
}

#criarSala{
    width: 80%;
    height: 4vw;
    font-size: 2vw;
    margin-bottom: 5vw;
    padding: 1.5vw 0 0 0;
    border-radius: 2vw;
    background-color: var(--var-ciano-claro);
    color: white;
    text-align: center;
}

#sala{
    width: 80%;
    height: 10vw;
    background-color: var(--var-ciano);
}

.posts{
    width: 70%;
    height: 30vw;
    background-color: white;
}
