

#feed{
    width: 100%;
    min-height: 50vw;
    background-color: black;
    display: flex;
}

#contend{
    width: 80%;
    min-height: 30vw;
    background-color: red;
}

#sideBar{
    width: 20%;
    min-height: 30vw;
    background-color: green;
}

#profile{
    width: 5vw;
    height: 5vw;
    margin: 2vw auto 1vw auto;
    background-color: yellow;
}

#sala{
    width: 80%;
    height: 10vw;
    background-color: aqua;
}

